:root {
	font-family: 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
	--color-primary: #4f46e5;
	--color-primary-dark: #4338ca;
	--color-danger: #e21616;
	--color-white: #ffffff;
	--color-background: #ebecee;
	--color-text: #000000;
	--color-subtext: #6b7280;
	--color-border: #e5e7eb;
	--color-table-header-text: #374151;
	--color-hover: #f7f7f7;
}

*,
*::before,
*::after,
body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
